.productCardDestack {
  width: 100%;
  padding: 35px;
  margin: 0 10px;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  padding-right: 18%;
  background-color: #d8e3f2;
}

.badge {
  color: #474747;
  font-size: 14px;
  font-weight: 800;
  padding: 5px 10px;
  border-radius: 50px;
  letter-spacing: 1px;
  text-transform: uppercase;
  background-color: #E7FF86;
}

.badge:after {
  content: "% off";
}

.productTitle {
  font-size: 32px;
  font-weight: 800;
  margin: 15px 0;
  color: #1F1F1F;
  line-height: 36px;
}

.button {
  font-size: 16px;
  padding: 0 30px;
  min-height: 48px;
  font-weight: 700;

  color: #C92071;
  border: #f5f5f5;

  cursor: pointer;
  border-radius: 8px;
  background-color: #f5f5f5;
}

.productCardDestack * {
  z-index: 1;
  position: relative;
}

.productCardDestack img {
  right: 0;
  bottom: 0;
  z-index: 0;
  position: absolute;
}